h1 {
    text-align: center;
    margin: 15px;
}

.gifButton{
    margin: 10px;
}

#search{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gif{
    margin: 10px;
}

.searchGif{
    border: solid;
    margin: 1px;
}