h1 {
    text-align: center;
    margin: 15px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.gifButton{
    margin: 10px;
}

#clear-favorite{
    margin-left: 45px;
}

.gifButton:hover, #add-gif:hover, #add-favorite:hover, #clear-favorite:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.headingStyle{
    background-color: white;
    background: rgba(128,128,128,0.8);
    border: solid 5px grey;
}

#search{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gif{
    margin: 10px;
}

.searchGif{
    border: solid 5px grey;
    color: rgb(207, 188, 188);
    margin: 1px;
    background: rgba(128,128,128,0.8);
}

.headingFav{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(177, 116, 116);
}

.favButton{
    background-color: rgb(238, 151, 151);
}

.moreGifs{
    text-align: center;
    margin: 20px;
}

.row{
    margin-top: 50px;
}

label{
    color: white;
}

#add-favorite, #clear-favorite{
    margin-top: 20px;
}
